<!DOCTYPE html>
<html lang="es">
<%- include('./adminPartials/head')  %> 
<link rel="stylesheet" href="/stylesheets/admin/products.css">
</head>
<body>
    <%- include('./adminPartials/header')  %> 

    <main class="container">
        <section class="row ">
          <% products.forEach(product=> { %>
            <article class="col-12 col-md-4 col-lg-3 ">
              <ul class="list-group list-group-flush my-3 ">
                <li class="list-group-item">
                  <h4>
                      <%= product.title %> 
                  </h4>
                </li>
                <!-- <li class="list-group-item">
                  <h5 >
                    <%= product.description.slice(0,100) %>... 
                  </h5>
                </li> -->

                

                <li class="list-group-item">
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= product.id %> " class="no-text-decoration">
                  Información de este producto</a>
                </li>
                <li class="list-group-item">
                  <div class="m-2 d-flex justify-content-around">
                   <a href="/admin/products/edit/<%= product.id %> " class="btn btn-sm btn-success">Editar</a>
                   <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= product.id %> ">Eliminar</a>
                  </div>
                </li>
              </ul>
            </article>  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-<%= product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel"><%= product.title %></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                  </div>
                  
                  <div class="modal-body">
                    <h6 class="modal-title text-align-center mb-2">
                      <%= product.description %>
                    </h6>
                    <h6 class="modal-title text-align-center mb-2">
                      <%= product.price %> 
                    </h6>
                    <img src="/images/<%= product.image %> " class="img-fluid" alt="">
                    <p class="text-align-center"><%= product.image %> </p>
                  </div>

                  <li class="list-group-item">
                    <div class="m-2 d-flex justify-content-around">
                      <a href="/admin/products/edit/<%= product.id %> " class="btn btn-sm btn-success editar-modal">Editar</a>
                    </div>
                    

                    <div class="m-2 d-flex justify-content-around">
                    <form action="/admin/products/delete/<%= product.id %>?_method=DELETE " method="POST">
                    <button class="btn btn-sm btn-danger"  type="submit">Eliminar</button>
                    </form>
                    </div>

                </li>

                </div>
              </div>
            </div>
        
            <% }) %>

            
        </section>
      </main>

    <%- include('./adminPartials/footer')  %> 

</body>
</html>