<!DOCTYPE html>
<html lang="es">
<%- include('./adminPartials/head')  %> 
</head>
<body>
    <%- include('./adminPartials/header')  %> 

    <main class="container mt-3">
        <form action="/admin/products/store" method="POST" enctype="multipart/form-data">
          
          <h3>Agregar un producto nuevo</h3>
          <hr>
          <div class="row">
            <div class="col-md-6 col-lg-4">

              <h6 class="text-danger title-error"><% if (typeof errors != 'undefined' && errors.title) { %><%= errors.title.msg %> <% } %></h6>
             
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="Nombre del producto" name="title" value="<%= (typeof old != 'undefined' && old.title) ? old.title : ""%>">
                <label for="title">Nombre del producto</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              
                <h6 class="text-danger description-error"><% if (typeof errors != 'undefined' && errors.description) { %><%= errors.description.msg %><% } %></h6>
               
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="description" placeholder="Una pequeña descripción" name="description" value="<%= (typeof old != 'undefined' && old.description) ? old.description : ""%>">
                <label for="description">Una pequeña descripción</label>
              </div>
            </div> 
            

            <div class="col-md-6 col-lg-4 ">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="condition1" value="true">
                    <label class="form-check-label" for="condition1">
                        Nuevo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="condition2" value="" checked>
                    <label class="form-check-label" for="condition2">
                        Usado
                    </label>
                </div>
            </div>


            <div class="col-md-6 mt-2">

              
                <h6 class="text-danger price-error"><% if (typeof errors != 'undefined' && errors.price) { %><%= errors.price.msg %><% } %></h6>
               

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="price" placeholder="Precio" name="price" value="<%= (typeof old != 'undefined' && old.price) ? old.price : ""%>">
                <label for="price">Precio</label>
              </div>
            </div>

            

            <div class="col-md-6 col-lg-4 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="featured" id="featured1" value="true">
                    <label class="form-check-label" for="featured1">
                        Producto destacado
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="featured" id="featured2" value="" checked>
                    <label class="form-check-label" for="featured2">
                        Producto no destacado
                    </label>
                </div>
            </div>


            <div class="col-lg-6 mt-2">
              <div>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="product">
              </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mt-2">
              
                <h6 class="text-danger"><% if (typeof errors != 'undefined' && errors.category) { %><%= errors.category.msg %><% } %></h6>

              <div class="select">
                
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select-category" name="category">
                  <option value="" selected hidden>Categorías</option>
                  <option value="1">Vinilos</option>
                  <option value="2">CD'S</option>
                  <option value="3">Cassettes</option>
                  <option value="4">Periféricos y más</option>
                </select>
              </div>
            </div>

          </div>
        
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
        
         
          </form>
        </main>
    <%- include('./adminPartials/footer')  %> 
    <script src="/javascripts/productsCreate.js"></script>

</body>
</html>