<html>
  <!-- HEAD -->
  <%- include('partials/head') %>   
  <link rel="stylesheet" href="/stylesheets/categorySub.css">
</head>
  <body>
    <div class="contenedor">
      <!-- HEADER -->
      <%- include('partials/header') %> 
      <main>
        <div class="banner2 fluid">
          <h3><%=title%></h3>
        </div>
        <h2>
          Ofertas:
        </h2>
        
        <div class="slider-destacados">
          <div class="slider">
            <div class="slide">
              <% featured.forEach(product => { %>
                <div class="articulo d-block">
                  <article class="">
                    <div class="image">
                      <a href="/detail/<%=product.id%>"><img src="/images/<%= product.image %> " alt="<%= product.image %> "></a>
                    </div>
                    <div class="description-slider row">
                      <a href="/detail/<%=product.id%>" class="nombre"><%= product.title %> </a>
                      <a href="/detail/<%=product.id%>" class="price success"><%= product.price %></a>
                    </div>  
                  </article>
                </div>
              <% }) %>
              

          </div>
        </div>




        <!-- ARTÃCULOS -->

        <section>
          <% products.forEach(product => { %>
            <article>
              <div class="img-article-busqueda">
                  <a href="/detail/<%=product.id%>" class="link-imagen-article">
                      <img src="/images/<%= product.image %>" alt="imagen-producto" class="imagenn">
                  </a>
                  <div class="caja-estado">
                      <p class="estado">
                        <%if (product.condition) { %>
                          NUEVO
                        <%} %>
                        <%if(!product.condition){%> 
                          USADO
                        <% } %> 
                      </p>
                  </div>
              </div>
              <div class="description-articles">
                  <a href="/detail/<%=product.id%>" class="link-titulo-article">
                      <h3>
                        <%= product.title %>
                      </h3>
                  </a>
                  <p class="price-articles">
                    <%= product.price %>
                  </p>
                  <a href="/detail/<%=product.id%>" class="caja-changuito">
                      <i class="fas fa-shopping-cart"></i>
                  </a>
                  
              </div>
          </article>
          <% }) %>


          
      </section>
      </main>

      
      <!-- FOOTER -->
      <%- include('partials/footer') %> 
  </body>
</html>