<html>
<!-- HEAD -->
<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    </head>

    <body>
        <div class="contenedor">
            <!-- HEADER -->
            <%- include('partials/header') %>
            <main>
                <div class="caja-principal-detail">
                    <h3 class="margen-costadito">
                        <%= product.title %> 
                    </h3>
                    <div class="margen-costadito img-container">
                        <img src="/images/<%= product.image %> " alt="Imagen detalle producto" class="image">
                        <a href="#" class="favoritos">
                            <i class="far fa-heart"></i>
                        </a>
                        <div class="caja-estado">
                            <p class="estado">
                                <%if (product.condition) { %>
                                  NUEVO
                                <%} %>
                                <%if(!product.condition){%> 
                                    USADO
                                <% } %> 
                            </p>
                        </div>
                    </div>
                    <div class="price-share-container margen-costadito">
                        <p class="price-detail">
                            <%= product.price %> 
                        </p>
                        <a href="#" class="share">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>


                    

                    <p class="description-completa margen-costadito">
                        <%=product.description%>
                    </p>

                    <a href="#" class="btn btn-carrito margen-costadito"> Llevar en el carrito <i class="fas fa-shopping-cart"></i></a>
                </div>
            </main>
                

            <!-- FOOTER -->
            <%- include('partials/footer') %>
    </body>

</html>