<html>
  <!-- HEAD -->
  <!-- <%- include('partials/head') %> 
  <link rel="stylesheet" href="/stylesheets/categorySub.css">
</head> -->
  <body>
    <div class="contenedor">
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

    <!-- FOOTER -->
    <%- include('partials/footer') %> 
</body>
</html>
