<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <%- include('partials/head') %> 
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
  <body>
    <div class="contenedor">
      <!-- HEADER -->
      <%- include('partials/header') %> 
      <main>
        <banner class="fluid col-12">
          <img src="images/always/banner-prueba.png" alt="banner">
        </banner>
        <h2>Nuestros destacados:</h2>
        
        
        <div class="slider-destacados">
          <div class="slider">
            <div class="slide">
              <% featured.forEach(product => { %>
                <div class="articulo d-block">
                  <article>
                    <div class="image">
                      <a href="/detail/<%= product.id %> "><img src="images/<%= product.image %> " alt="Imagen"></a>
                    </div>
                    <div class="description row">
                      <a href="/detail/<%= product.id %>" class="nombre"><%= product.title %></a>
                      <a href="/detail/<%= product.id %>" class="price success"><%= product.price %></a>
                    </div>  
                  </article>
                </div>
              <% }) %>

          </div>
        </div>



          <!-- MENÚ -->
        <div class="banner2 fluid">
          <h2>ELEGÍ LO TUYO...</h2>
        </div>

        <section>
          <div class="section">
            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href="/category/vinilos"><img src="images/always/caja-vinilos.webp" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>VINILOS</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href="/category/cds"><img src="images/always/cds.png" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>CD'S</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href="/category/cassettes"><img src="images/always/cssettes.png" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe">
                  <p>CASSETTES</p>
                </div>
              </div>
            </article>

            <article class="categoria col-6">
              <div class="caja">
                <div class="image">
                  <a href="/category/speakers"><img src="images/always/speakers.png" alt="imagen-vinilos"></a>
                </div>
                <div class="epigrafe" name="1">
                  <p>OTROS</p>
                </div>
              </div>
            </article>
          </div>
        </section>

      </main>
      <!-- FOOTER -->
      <%- include('partials/footer') %> 
  </body>
</html>
